.article-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-list .article-list__error {
  color: var(--error-colour);
  font-size: 18px;
}

.article-list .article-list__error__icon {
  margin-right: 5px;
}

.article-list .article-list__loading {
  font-size: 18px;
}

.article-list .article-list__loading__icon {
  margin-left: 5px;
}

.article-list .article-summary {
  margin-bottom: 30px;
}

.article-list .article-summary__thumbnail {
  width: 100%;
  margin-bottom: 10px;
}

.article-list .article-summary__title {
  margin-top: 0px;
}

