:root {
  --black: #000;
  --dark-grey: #111;
  --light-grey: #ccc;
  --white: #fff;
  --text-colour: #333;
  --primary-colour: #23ccf2;
  --error-colour: #f53355;
}

body {
  background-color: var(--black);
  color: var(--text-color);
}

#root {
  background-color: var(--white);
}

a, a:hover, a:visited {
  color: var(--primary-colour);
  text-decoration: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: var(--primary-colour);
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  color: var(--white);
}

