body {
  background-color: #000;
}

#root {
  background-color: #fff;
}

a, a:hover, a:visited {
  color: #23ccf2;
  text-decoration: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #23ccf2;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  color: #fff;
}

