{
  "extends": "imperative-es6",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "env": {
    "jest": true
  },
  "rules": {
    "semi": [2, "always"],
    "comma-dangle": [2, "always"],
  }
}
