.article__body {
  font-size: 18px;
}

.article__body p {
  margin-bottom: 20px;
}

.article__body li {
  margin-bottom: 10px;
}

.article__body ol,
.article__body ul {
  margin-bottom: 20px;
}

.article__body em {
  font-weight: bold;
}

.article__body img {
  width: 100%;
  margin-bottom: 20px;
}
