.featured-articles {
    margin-bottom: 40px;
}

.featured-articles__see-all-link {
  text-align: right;
}

.featured-article__title__link,
.featured-article__title__link:active,
  .featured-article__title__link:focus,
.featured-article__title__link:visited {
  color: var(--text-colour);
}

.featured-article__title__link:hover {
  color: var(--primary-colour);
}

.featured-article__thumbnail {
  width: 100%;
  margin-bottom: 10px;
}

.featured-article__summary {
  margin-bottom: 10px;
}

.featured-article__details {
  list-style: none;
  padding-left: 0px;
}

.featured-article .icon-list__item__link {
  color: var(--text-colour);
}

.featured-article .icon-list__item__link:hover {
  color: var(--primary-colour);
  text-decoration: none;
}

@media only screen and (min-width : 992px) {

  .featured-article__title__wrapper {
    height: 78px;
    margin-bottom: 10px;
  }

  .featured-article__title {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
  }

  .featured-articles__see-all-link {
    text-align: right;
  }
}

