.error-page .page-intro__wrapper {
  text-align: left;
  background-color: var(--error-colour);
  color: var(--white);
}

.error-page__title {
  line-height: 63px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.error-page__hero {
  width: 100%;
}

