.article-details {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0px;
}

.article-details .icon-list__item__link {
  color: var(--text-colour);
}

.article-details .icon-list__item__link:hover {
  color: var(--primary-colour);
  text-decoration: none;
}
