.links-spotlight__list {
  list-style: none;
  padding-left: 0px;
}

.links-spotlight__list a,
.links-spotlight__list a:hover,
.links-spotlight__list a:visited {
  text-decoration: none;
}

.links-spotlight__list__item__icon {
  padding-right: 5px;
}
