.page-intro__title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-intro__details {
  margin-bottom: 20px;
}

.page-intro .page-intro__citation {
  color: var(--white);
}

.page-intro__image {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 200px;
}
