.page-intro {
  padding-bottom: 20px;
}

.page-intro__title {
  margin-top: 20px;
}

.page-intro .page-intro__citation {
  color: var(--white);
}

.page-intro__image {
  margin-top: 20px;
  width: 100%;
  max-width: 330px;
}
