.legal-page .page-intro__wrapper {
  text-align: left;
  background-color: var(--alt-colour);
  color: var(--white);
}

.legal-page .page-intro {
  margin-bottom: 40px;
}

.legal-page .body {
  margin-bottom: 60px;
}

.legal-page .body li {
  margin-bottom: 10px;
}
