.footer__spotlights {
  background-color: #111;
  color: #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__spotlights .links-spotlight__title {
  font-size: 20px;
}

.footer__spotlights .icon-list__item__link,
.footer__spotlights .icon-list__item__link:visited {
  color: #ccc;
}

.footer__spotlights .icon-list__item__link:hover {
  color: #23CCF2;
}

.footer__spotlights .icon-list__item--social {
  display: inline-block;
}

.footer__spotlights .icon-list__item--social .icon-list__item__link {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  line-height: 40px;
  font-size: 20px;
  display: block;
  margin-right: 4px;
}

.footer__spotlights .icon-list__item--social .icon-list__item__link:hover {
  color: #111;
  background-color: #23CCF2;
  border-color: #23CCF2;
}

.footer__spotlights .icon-list__item--social .icon-list__item__icon {
  margin-right: 0px;
}

.footer__copyright {
  background-color: #000;
  color: #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
