footer .spotlights {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  padding-top: 30px;
  padding-bottom: 40px; /* extra 10 to compensate for h2.margin-top */
}

footer .spotlights .links-spotlight__title {
  font-size: 20px;
}

footer .spotlights .icon-list__item__link,
footer .spotlights .icon-list__item__link:active,
footer .spotlights .icon-list__item__link:focus,
footer .spotlights .icon-list__item__link:visited {
  color: var(--light-grey);
}

footer .spotlights .icon-list__item__link:hover {
  color: var(--primary-colour);
}

footer .spotlights .icon-list__item--social {
  display: inline-block;
}

footer .spotlights .icon-list__item--social .icon-list__item__link {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid var(--light-grey);
  line-height: 40px;
  font-size: 20px;
  display: block;
  margin-right: 4px;
}

footer .spotlights .icon-list__item--social .icon-list__item__link:hover {
  color: var(--dark-grey);
  background-color: var(--primary-colour);
  border-color: var(--primary-colour);
}

footer .spotlights .icon-list__item--social .icon-list__item__icon {
  margin-right: 0px;
}
