.article-list-page {
  margin-bottom: 30px;
}

.article-list-page .page-intro__wrapper {
  text-align: center;
  background-color: var(--primary-colour);
  color: var(--white);
}

.article-list-page .page-intro {
  margin-bottom: 40px;
}

.article-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-list__article {
  margin-bottom: 30px;
}

.article-list__article__thumbnail {
  width: 100%;
  margin-bottom: 10px;
}

.article-list__article__title {
  margin-top: 0px;
}

/* added .article-list as specificity not working correclty in chrome */
.article-list .article-list__article__title a {
  color: var(--black);
}

.article-list .article-list__article__title a:hover {
  color: var(--primary-colour);
}

.article-list-controls__load-more-button {
  background-color: transparent;
  color: var(--primary-colour);
  border: 1px solid var(--primary-colour);
  padding: 15px 50px;
}

.article-list-controls__load-more-button:hover {
  color: var(--white);
  background-color: var(--primary-colour);
}

.article-list-controls__load-more-button:focus {
  outline: none;
}

.article-list-controls__load-more-button:active {
  background-color: grey;
  border-color: grey;
}

.article-list-page .page-intro__image {
  width: 200px;
  height: 220px;
}

@media only screen and (max-width : 991px) {
  .article-list-page .page-intro__image {
    width: 300px;
    height: 330px;
  }
}


