.article-page {
  margin-bottom: 60px;
}

.article-page .page-intro__wrapper {
  text-align: left;
  background-color: var(--primary-colour);
  color: var(--white);
}

.article-page .page-intro {
  margin-bottom: 30px;
}

.article-page #social-buttons {
  height: 33px;
}

.article-page #social-buttons .fb-like > span {
  vertical-align: baseline !important;
}

.article-page #social-buttons #twitter iframe {
  margin-left: 2px;
}

.article-page #social-buttons #twitter a {
  display: none;
}
