.article-page {
  margin-bottom: 60px;
}

.article-page .page-intro__wrapper {
  text-align: left;
  background-color: var(--primary-colour);
  color: var(--white);
}

.article-page .page-intro {
  margin-bottom: 30px;
}

.article-page .image--main {
  width: 100%;
  margin-bottom: 20px;
}

.article-page .blurb {
  font-size: 18px;
}

.article-page .blurb p {
  margin-bottom: 20px;
}

.article-page .blurb li {
  margin-bottom: 10px;
}

.article-page .blurb ol,
.article-page .blurb ul {
  margin-bottom: 20px;
}

.article-page .blurb em {
  font-weight: bold;
}

.article-page .blurb img {
  width: 100%;
  margin-bottom: 20px;
}

.article-page .article__details {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0px;
}

.article-page .icon-list__item__link {
  color: var(--text-colour);
}

.article-page .icon-list__item__link:hover {
  color: var(--primary-colour);
  text-decoration: none;
}

.article-page #social-buttons {
  height: 33px;
}


.fb-like > span {
  vertical-align: baseline !important;
}

#twitter iframe {
  margin-left: 2px;
}

#twitter a {
  display: none;
}
