.navbar.navbar-overrides {
  background-color: transparent;
  margin-bottom: 0px;
  border: none;
  padding-right: 10px;
}

.navbar.navbar-overrides .navbar-collapse {
    border-top: none;
}

.navbar.navbar-overrides .navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar.navbar-overrides .navbar-nav > li > a {
  padding: 30px 60px;
}

.navbar.navbar-overrides .navbar-nav > li.active > a {
  background-color: var(--primary-colour);
  color: var(--white);
}

.navbar.navbar-overrides .navbar-nav > li.active > a:hover {
  background-color: var(--primary-colour);
  color: var(--white);
}

.navbar.navbar-overrides .navbar-nav > li > a:hover {
  background-color: transparent;
  color: var(--primary-colour);
}

@media only screen and (max-width : 767px) {
  .navbar.navbar-overrides .navbar-brand {
     display: none;
  }
}
