.navbar.navbar-overrides {
  background-color: transparent;
  margin-bottom: 0px;
  border: none;
}

.navbar.navbar-overrides .navbar-nav > li > a {
  padding: 30px 60px;
  border-bottom: 2px solid transparent;
}

.navbar.navbar-overrides .navbar-nav > li.active > a {
  background-color: var(--primary-colour);
  border-bottom: 2px solid var(--primary-colour);
  color: var(--white);
}

.navbar.navbar-overrides .navbar-nav > li.active > a:hover {
  background-color: var(--primary-colour);
  border-bottom: 2px solid var(--primary-colour);
  color: var(--white);
}

.navbar.navbar-overrides .navbar-nav > li > a:hover {
  background-color: transparent;
  border-bottom: 2px solid var(--primary-colour);
  color: var(--primary-colour);
}

@media only screen and (max-width : 767px) {
  .navbar.navbar-overrides .navbar-brand {
     display: none;
  }
}
